/* pre define bs variables here */
@import "~bootstrap/scss/bootstrap"; 


div .kea-text
{
    border: 2px solid red;
}


input.kea-wide-field, textarea.kea-wide-field
{
        width: 100%;
}

.field-error
{
    color: #ff0000;
}

/* waiting for support !*/
.kea-additional-field:has(+ div.field-error) 
{
    border-color: #ff0000;
}

.kea-additional-field-block
{
    margin-bottom: 10px;
}

.margin-top-10
{
    margin-top: 10px;
}

.rich-input-control
{
    border: 1px solid #000000;
    min-height: 100px;
}


.kea-row {

    display: flex;
}

    
.kea-col-50 
{
    flex: 50%;
}

.kea-col-50:not(:last-child) 
{
    margin-right: 10px;
}

.kea-emp1
{
    text-decoration: underline;
}



/* for theme front page */

.kea-pointer
{
    cursor: pointer !important;
}



ol.breadcrumb
{
    margin-left: 0em !important;
}


#reg-email-marker
{
    display: none;
}

#reg-email-marker.invalid
{
    display: block;
}

body.wp-theme-online-repititor-admin-theme p:not(.alert)
{
    font-size: var(--bs-body-font-size) !important; 
    line-height: var(--bs-body-line-height) !important; 
    margin: 0 0 1rem !important; 
}


